body, a, p, h1, h2, h3, h4, h5, h6, pre {
    font-family: 'Avenir-Book', sans-serif !important;
}
.container.body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
a {
  color: black;  
}  
.banner {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 10%;
}
.landing_navbar{
    background-color: white;
}
.navbar {
    background-color: white;
    color: black;
}
.dropdown {
    display: none;
}

#header_logo{
    margin-left: 10%;
    padding-top: 5%;
}
header {
    display: block;
    font-size: 12px;
    color: white;
}
hr {
    height: 1px;
    border: none;
    color: #D9DADC;
    background-color: #D9DADC;
    margin: 0;
}

.megamenu {
    padding-left: 5%;
    color: black;
}
.part {
    padding-top: 7%;
}
/*------CAROUSEL-----*/
.b_w_img{
    text-align: center;
    margin-top: 100px;
}
.carousel_container{
    position: fixed;
}
.carousel-inner img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 570px;
}
/*------FOOTER-----*/
.container.footer{
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.inside_footer{
    margin-top: 10px;
    margin-bottom: 2.5%;
    text-align: center;
    width:100%;
    background-color: white;
}

/*------------------------------------Mobile vs----------------------------*/
@media screen and (max-width: 600px) {

    .carousel {
        display: none;
    }
    .megamenu {
        display: none;
    }
    
    .dropbtn {
        background-color: darkgrey;
        color: white;
        padding: 16px;
        cursor: pointer;
    }
    .dropbtn:hover, .dropbtn:focus {
        background-color: lightgrey;
    }
    .icon-bar{
        background-color: white;
    }
    .dropdown {
        margin: 2%; 
        display: block;
    }
    .dropdown-content {
        display: none;
        position: relative;
        margin: 5%;
        padding: 5%;
        background-color: white;
        min-width: 60px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        overflow-y: scroll !important;
        max-height: 400px !important;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: 'Avenir-Book', sans-serif !important;
    }
    .dropdown a:hover {
        background-color: #ddd;
    }
    .show {
        display: block;
    }
    }